.login {
  height: 100%;
  background-image: linear-gradient(45deg, #9fbaa8, #57606f);
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    .login-form-input {
      width: 360px;
    }
    .login-form-btn {
      width: 140px;
    }
  }
}
